:root {
    --var-body-bg: #252525;
    --var-body-fc: #fff;
    --var-second-bg: #202020;
    --var-second-fc: #999999;
    --var-button-bg: #2d3af5;
    --var-second-button-bg: #1e27ac;
    --var-popup-bg: #1d1d1d;
    --var-popup-second-bg: #181818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

[light-theme] {
    --var-body-bg: #c2c2c2;
    --var-body-fc: #272727;
    --var-second-bg: #888888;
    --var-second-fc: #383838;
    --var-button-bg: #303030;
    --var-second-button-bg: #747474;
    --var-popup-bg: #adadad;
    --var-popup-second-bg: #858585;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--var-body-bg);
    color: var(--var-body-fc);
    font-family: 'Open Sans', sans-serif;
}

a {
    color: rgb(45, 58, 245);
    text-decoration: none;
    transition: .1s;
}

a:hover {
    color: rgb(30, 39, 172);
}

img {
    user-select: none;
}

.wrapper {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 5px;
    text-align: center;
    background: var(--var-second-bg);
}

.title .status {
    position: absolute;
    display: inline;
    user-select: none;
    right: 5px;
    color: var(--var-second-fc);
}

button {
    padding: 5px 10px;
    background: var(--var-button-bg);
    color: #fff;
    border: none;
    user-select: none;
    cursor: pointer;
    transition: .1s;
    margin: 3px;
    outline: none;
}

button:hover, button:focus {
    background: var(--var-second-button-bg);
}

.main .buttons {
    margin: 25px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main .buttons button {
    min-width: 130px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    color: var(--var-second-fc);
    background: var(--var-second-bg);
}

.footer .links {
    position: absolute;
    right: 5px;
    display: inline;
}

wave-text {
    position: relative;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

wave-text span {
    position: relative;
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes wave {
   0% {
    transform: translateY(0px);
   }
   20% {
    transform: translateY(-5px);
    color: var(--var-second-button-bg);
   }
   40%, 100% {
    transform: translateY(0px);
   }
}

.popups {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup {
    z-index: 10;
    max-width: 350px;
    background: var(--var-popup-bg);
    animation: .2s popup;
    pointer-events: all;
}

.popup-text {
    padding: 5px;
    font-size: 80%;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.popup-title {
    padding: 5px;
    font-size: 80%;
    background: var(--var-popup-second-bg);
}

@keyframes popup {
    0% {
        margin-top: -20px;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer a img {
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(89deg) brightness(107%) contrast(105%);
    transition: .1s;
}

footer a img:hover {
    filter: invert(43%) sepia(2%) saturate(0%) hue-rotate(163deg) brightness(89%) contrast(77%);
}