* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #252525;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: rgb(45, 58, 245);
    text-decoration: none;
    transition: .1s;
}

a:hover {
    color: rgb(30, 39, 172);
}

.wrapper {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 5px;
    text-align: center;
    background: #202020;
}

button {
    padding: 5px 10px;
    background: rgb(45, 58, 245);
    color: #fff;
    border: none;
    user-select: none;
    cursor: pointer;
    transition: .1s;
    margin: 3px;
}

button:hover {
    background: rgb(30, 39, 172);
}

.main {
    flex: 1 1 auto;
}

.main .buttons {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 35px 0;
    flex-direction: column;
}

.main .buttons button {
    min-width: 100px;
}

.footer {
    padding: 5px;
    color: rgb(202, 202, 202);
    background: #202020;
}

.footer .links {
    position: absolute;
    right: 5px;
    display: inline;
}

wave-text {
    position: relative;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

wave-text span {
    position: relative;
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes wave {
   0% {
    transform: translateY(0px);
   }
   20% {
    transform: translateY(-5px);
    color: rgb(45, 58, 245);
   }
   40%, 100% {
    transform: translateY(0px);
   }
}

.popups {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup {
    z-index: 10;
    max-width: 350px;
    background: #101010;
    animation: .2s popup;
    pointer-events: all;
}

.popup-text {
    padding: 5px;
    font-size: 80%;
}

.popup-title {
    padding: 5px;
    font-size: 80%;
    background: rgb(30, 39, 172);
}

@keyframes popup {
    0% {
        margin-top: -20px;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer a img {
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(89deg) brightness(107%) contrast(105%);
    transition: .1s;
}

footer a img:hover {
    filter: invert(43%) sepia(2%) saturate(0%) hue-rotate(163deg) brightness(89%) contrast(77%);
}